a{
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: red;
}
.wt100{
    width: 100%;
}
.mgt20{
    margin-top: 20px;
}
.flexct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.flexsa{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.flexlb{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.flexcollb{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}
.flexfs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flexcolct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolfs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.flexfswrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap;
} 
.flexfswrapfs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
} 
/* 屏幕宽度小于576个象素时应用的CSS样式   */
@media (max-width: 576px) {  
    .mobilenone{
        display: none;
    }
    .pcnone{
        display: block;
    }
}
@media (min-width: 576px) {  
    .pcnone{
        display: none;
    }
}